{{ ansible_managed | comment }}
?FORMAT 2
{% for item in shorewall_interfaces %}
{{ item.zone }}   {{ item.name }}{% if item.options is defined and item.options is not none %}   {{ item.options|join (',') }}{% endif %}

{% endfor %}
