{{ ansible_managed | comment }}
{% if shorewall_mangle is defined and shorewall_mangle is iterable %}
{% for item in shorewall_mangle %}
{{ item.action }}   {{ item.source }}   {{ item.dest }}    {{ item.proto }}
{% endfor %}
{% endif %}
