{{ ansible_managed | comment }}
{% for item in shorewall_providers %}
{{ item.name }} {{ item.number }} {{ item.mark|default('-',true) }} {{ item.duplicate|default('-',true) }} {{ item.interface }} {{ item.gateway }} {{ item.options|default('-',true) }} {{ item.ifcopy|default('-',true) }}
{% endfor %}
