{{ ansible_managed | comment }}
#ACTION     SOURCE          DEST        PROTO       DPORT        SPORT     ORIGDEST   RATE      USER      MARK    CONNLIMIT     TIME     HEADERS    SWITCH
{% for item in shorewall_rules %}
?SECTION {{ item.section }}
{%   if item.rules is defined %}
{%     for rule in item.rules %}
{% if (rule.comment is defined) and (rule.comment|length) %}
#{{ rule.comment }}
{% endif %}
{{ rule.action }}   {% if rule.source is iterable and rule.source is not string %}{{ rule.source|join(',') }}{% else %}{{ rule.source }}{% endif %}
   {% if rule.dest is iterable and rule.dest is not string %}{{ rule.dest|join(',') }}{% else %}{{ rule.dest }}{% endif %}
   {% if rule.proto is iterable and rule.proto is not string %}{{ rule.proto|default('', true)|join(',') }}{% else %}{{ rule.proto }}{% endif %}
   {{ rule.dest_ports|default('', true)|join (',') }}
{%     endfor %}
{% endif %}
{% endfor %}
